@charset "UTF-8";

@media screen and (min-width: 768px) {
    #itens {
        display: block;
    }

    #menu {
        display: none;
    }

    menu li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}